/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* NOMAD CLONERS STYLE */

html {
	font-size: 14px;
	font-family: 'Inter', sans-serif;
	color: rgba(107, 114, 128);
}

header {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: rgba(255,255,255,0.8);
}

header nav {
	display: flex;
	justify-content: center;
	box-shadow: 0 1px 3px rgba(85, 85, 85, 0.20);
}

header nav .navDiv {
	display: flex;
	flex-direction: row;
	width: 90%;
	height: 4.5em;
	align-items: center;
	justify-content: flex-end;
}

header nav .navMenu{
	display: flex;
	align-items: center;
	height: 100%;
}

header nav .navMenu > a:not(:first-child) {
	padding-left: 2em;
}

header nav .navLogo {
	display: flex;
	align-items: center;
	width: 2.8em;
}

header nav .navMenu > a {
	text-decoration: none;
	line-height: 5em;
	color: inherit;
}

@keyframes navDefaultColor {
	from {
		color: rgb(53, 57, 63);
	}
	to {
		color: rgba(107, 114, 128);
	}
}

@keyframes navHoverColor {
	from {
		color: rgba(107, 114, 128);
	}
	to {
		color: rgb(53, 57, 63);
	}
}

a:hover {
	animation: navHoverColor .15s ease-in forwards;
}

a:not(:hover) {
	animation: navDefaultColor .15s ease-in;
}

header nav .navUser {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

button {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.profileBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.8em;
	height: 2.8em;
	border-radius: 1.4em;
	overflow: hidden;
}

.profileBtn > * {
	width: inherit;
	height: inherit;
}

.notifBtn {
	box-sizing: border-box;
	width: 3em;
	height: 3em;
	color: inherit;
}

.indexContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.indexContent .indexBanner,
.indexContent .indexCourses {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.indexContent .indexBanner {
	gap: 1.5em;
}

.indexBanner .indexBannerTitle {
	padding-top: 2em;
	text-align: center;
	font-size: 4.5em;
	font-weight: 600;
	letter-spacing: -1.6px;
}

.indexBanner .indexBannerTitle > h2{
	color: black;
}

.indexBanner .indexBannerTitle > span{
	color: rgb(37, 99, 235);
}

.indexBanner .indexBannerDescription {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
}

.indexBanner .indexBannerButton {
	padding-top: 1.5em;
}

.indexBanner .indexBannerButton button{
	background-color: rgb(37, 99, 235);
	color: white;
	font-family: inherit;
	font-size: 1.25em;
	line-height: 1.5em;
	width: 250px;
	height: 3em;
	border-radius: 5px;
}

@keyframes btnDefaultColor {
	from {
		background-color: rgb(80, 135, 253);
	}
	to {
		background-color: rgb(37, 99, 235);
	}
}

@keyframes btnHoverColor {
	from {
		background-color: rgb(37, 99, 235);
	}
	to {
		background-color: rgb(80, 135, 253);
	}
}

.indexBanner .indexBannerButton button:hover{
	animation: btnHoverColor .15s ease-in forwards;
}

.indexBanner .indexBannerButton button:not(:hover){
	animation: btnDefaultColor .15s ease-in;
}

.indexContent .indexCourses {
	margin-top: 8em;
	display: flex;
	flex-flow: row wrap;
	gap: 2.5em;
}

.indexCourses .indexCourse {
	position: relative;
	display: flex;
	justify-content: center;
	height: 283px;
}

.indexCourses .indexCourse:hover {
	cursor: pointer;
}

.indexCourse .indexCourseBanner img {
	width: 378.667px;
	height: 213px;
	overflow: hidden;
	border-radius: 10px;
}

.indexCourse .indexCourseTitle {
	position: absolute;
	bottom: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 7em;
	line-height: 2.5em;
	background: white;
	color: black;
	border: 1px black solid;
	border-radius: 10px;
}

.indexCourse .indexCourseTitle h3 {
	font-size: 1.45em;
}

.indexCourse .indexCourseTitle h4 {
	font-size: 1.15em;
}